<div>
	<div class="container">
		<div class="text-center">
			<h1>Angular - Employee Data</h1>

			<div style="text-align:left;width:1200px;">
				<h1>
					{{ title }}
				</h1>
				<div class="tableFixHead">
					<table *ngIf="pagedItems">
						<!-- ADD HEADERS -->
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Phone</th>
								<th>Email</th>
									<th>Company</th>
								<th>Date of Entry</th>
									<th>Status</th>
										<th>Submit</th>
							</tr>
						</thead>
						<tbody>
							<!-- BIND ARRAY TO TABLE -->
							<tr *ngFor="let employee of pagedItems">
							  <td>{{employee.id}}</td>
								<td>{{employee.name}}</td>
								<td>{{employee.phone}}</td>
								<td>{{employee.email}}</td>
									<td>{{employee.company}}</td>
								<td>{{employee.date_entry}}</td>
								<td>{{employee.status}}</td>
									<td><button id="{{employee.id}}" value="{{employee.status}}" (click)="submitEmployeeData($event.target.id,$event.target.value)" >Submit</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- pager -->
			<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
				<li [ngClass]="{disabled:pager.currentPage === 1}">
					<a (click)="setPage(1)">First</a>
				</li>
				<li [ngClass]="{disabled:pager.currentPage === 1}">
					<a (click)="setPage(pager.currentPage - 1)">Previous</a>
				</li>
				<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
					<a (click)="setPage(page)">{{page}}</a>
				</li>
				<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
					<a (click)="setPage(pager.currentPage + 1)">Next</a>
				</li>				  
				<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
					<a (click)="setPage(pager.totalPages)">Last</a>
				</li>				
			</ul>
			<div>
			<ul class="pagination">
				<li>
				<select (change)="filterForeCasts($event.target.value)">
					<option value="0">10</option>
			<option value="1">50</option>
			<option value="2">100</option>
		  </select>
			</li></ul>	
			</div>
		</div>
	</div>
	<hr />
</div>